sn.profiles/lwp/profiles.config.files/config.files/profiles-extensions/profile-links.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2001, 2012                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/sn/profiles/ext/profile-links"
	xmlns="http://www.ibm.com/xmlns/prod/sn/profiles/ext/profile-links"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="linkroll">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="current-user-uid" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="link">
		<xsd:complexType>
			<xsd:attribute name="name" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<!-- TODO length restrictions??? -->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="url" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:anyURI">
						<!-- TODO length restrictions ???  -->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>
